#resumeContainer {color:#DDDDDD;width:840px;}
#resumeContainer .subnavigation{width:515px;margin-bottom:10px;}
#resumeContainer .subnavigation a{color: #DDDDDD}
#resumeContainer .subnavigation a:hover{ color:#15ADFF;}
#resumeContainer .siteCommonInnterContainer{padding:10px 30px 30px;width:778px;}
#resumeContainer .print{border: 0pt none;padding-left:25px;}
#resumeContainer h2{padding:10px 0px 0px;}
#resumeContainer dt{color:#ffffff;position:relative;cursor:pointer;border:1px solid transparent;}
#resumeContainer dt:hover{ color:#5f6a73;}
#resumeContainer dt.opened{color:#ffffff;}
#resumeContainer  dl dt{font-size:1.2em;font-weight:bold;padding:8px 0 0 20px;}
#resumeContainer  dl dd{font-size:1em;padding:0 0 0 20px;}
#resumeContainer  dl ul{font-size:1em;padding:10px 0 0 20px;}
#resumeContainer  dl dl dt{font-size:1.1em;font-weight:bold;padding:8px 0 0 20px;}
#resumeContainer  dl dl dd{font-size:1em;padding:0 0 0 20px;}
#resumeContainer  dl dl ul{font-size:1em;padding:0 0 0 30px;}
#resumeContainer  dl dl dl dt{font-size:1em;font-weight:bold;padding:0 0 0 40px;}
#resumeContainer  dl dl dl dd{font-size:1em;padding:0 0 0 40px;}
#resumeContainer  dl dl dl ul{font-size:1em;padding:0 0 0 60px;}
dd{color:#ffffff;display:none;}

