*{margin:0;padding:0;}
body {color: #666666;font-family:"Trebuchet MS",Verdana,Geneva,Arial,Helvetica,sans-serif;font-size:11px;line-height:18px;text-align:left;background: none repeat scroll 0 0 #222222;}
h1{padding:20px 0;color: #DDDDDD;font-weight: normal;text-align: left;text-shadow: 0 0 2px #FFFFFF;font-size:2.2em;}
h2{padding:10px 0;margin:0 0 10px 0;font-size:1.3em;color: #DDDDDD;font-weight: normal;padding-bottom: 5px;text-align: left;text-shadow: 0 0 1px #FFFFFF;}
h3{padding:10px 0;margin:0;font-size:1.2em;color: #DDDDDD;font-weight: normal;text-align: left;text-shadow: 0 0 1px #FFFFFF;}
h4{padding:10px 0 0 10px;margin:0;font-size:1.1em;color: #DDDDDD;font-weight: normal;text-align: left;text-shadow: 0 0 1px #FFFFFF;}
a {text-decoration: none;color: #15ADFF;cursor:pointer;}
a:hover {color: white;}
textarea {resize: none;}
.iconsSprite{background: url(../images/sprites/general.png) no-repeat top left}
.socialSprite{background: url(../images/sprites/social.jpg) no-repeat top left}
.blue{color: #15ADFF;width:auto;}
.left{float:left;display:inline;}
.right{float:right;display:inline;}
.metadata{color:#999999 !important}
.loading_new{
    background:#121212 url(../images/loading.gif) no-repeat 50% 80% !important;
    top:0px;
    left:0px;
    height:110px;
    opacity:0.7;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
.clear{clear:both;}
.siteCommonContainer{background-color: #333333;border: 1px solid #444444;padding: 10px;
    -moz-box-shadow: 1px 1px 4px #000000;
    -webkit-box-shadow:1px 1px 4px #000000;
    box-shadow:1px 1px 4px #000000;
}
.siteCommonInnterContainer{border: 1px solid #444444;padding: 7px 10px;
    -moz-box-shadow: 1px 1px 4px #000000 inset;
    -webkit-box-shadow: 1px 1px 4px #000000 inset;
    box-shadow: 1px 1px 4px #000000 inset;
    -webkit-border-radius:4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius:4px;
}
#wrapper{width:900px;margin:0 auto;height:auto;}
#mainContainer h2{padding-left:12px;}
.subContainer{margin:40px 0;margin: 0 20px;width: 860px;}
#addContainer{width:200px;padding:0 5px 0 15px;border-color:#333333 -moz-use-text-color -moz-use-text-color;border-top:medium none;border-style:none none none solid;border-width:medium medium medium 1px;height:450px;}
#registerContainer{border-color:#333333 -moz-use-text-color -moz-use-text-color;border-top:medium none;border-style:none none none dotted;border-width:medium medium medium 1px;}
#loginContainer{width:220px;padding:0 15px 0 5px;}
#registerContainer{padding:0 15px;width:403px;}
#error{color:red;}
.error {border-color:#CC3366 -moz-use-text-color -moz-use-text-color;border-right:medium none;border-style:dotted none none;border-width:1px medium medium;color:#CC3366 !important;font-size:1em;text-align:left;clear:both;display:inline;}
label.error {width:auto !important;padding:0 !important}
.boxerror {color:#CC3366;}
/* HEADER */
#header{border: 1px solid #444444;padding:0 10px 10px 10px;background-color: #333333;
    -moz-box-shadow: 1px 1px 4px #000000;
    -webkit-box-shadow: 1px 1px 4px #000000;
    box-shadow: 1px 1px 4px #000000;
    -webkit-border-radius:6px inset;
    border-radius: 0 0 0.5em 0.5em;
    -moz-border-radius: 0 0 0.5em 0.5em;
    -khtml-border-radius:0 0 0.5em 0.5em;
}
/* HEADER */
/* NAVIGATION */
.menuUL li{display:inline;}
.menuUL li a,.menuUL li a:visited{
    float:left;
    font-weight:bold;
    background:url(../images/icons/button_bg.jpg) repeat-x center bottom #666666;
    /* display:block allows for additinal CSS rules to take effect, such as paddings: */
    display:block;
    border:1px solid #4D4D4D;
    color:#CCCCCC;
    border-top-color:#565656;
    padding:4px 6px;
    margin:4px 5px;
    height:16px;
    text-shadow:0 1px black;
    text-decoration:none;
    -moz-box-shadow:0 0 1px black;
    -webkit-box-shadow:0 0 1px black;
    box-shadow:0 0 1px black;
}
#navgiationMenu {margin: 0 auto;list-style: none;position: relative;}
.magic_line{background:#CCCCCC;position:absolute;left:0px;height: 2px;}
#magic_line1 {bottom: 0px;}
#magic_line2 {top:33px;}
.menuUL li{display:inline;}
.menuUL li a.current{background-position:center top;text-decoration:underline;}
.menuUL li a:hover{background-position:center top;text-decoration:underline;}
#navigation{background:#252524;border:1px solid #111111;float:left;padding:5px 10px;}
#navigation,.menuUL li a{
    -moz-border-radius:0.2em 0.5em 0.2em 0.5em;
    -webkit-border-radius:0.2em 0.5em 0.2em 0.5em;
    -khtml-border-radius:0.2em 0.5em 0.2em 0.5em;
    border-radius:0.2em 0.5em 0.2em 0.5em;
}
/* NAVIGATION */
/* MOVIE SLIDER */
.movieContainer h2{margin:0;padding-bottom:0;}
div#movieHeader .movieMainSlideshow{width:240px !important;height:auto !important}
div#movieHeader #movieDescriptionContainer{width:840px;}
div#movieHeader #movieDescriptionContainer{background:none repeat scroll 0 0 #111111;;height: 348px;margin:10px 0 0;padding:10px 20px;}
div#movieHeader #movieDescriptionContainer .right{width:640px;color: #DDDDDD;font-size:1em;}
div#movieHeader #movieDescriptionContainer .descriptionType{width:80px;}
div#movieHeader #movieDescriptionContainer .descriptionContent{width:560px;}
div#movieHeader #movieDescriptionContainer .links{margin:10px 0 0 0;}
div#movieHeader #movieDescriptionContainer .link{padding-left:10px}
.movieSlideshow{margin:0px auto;height:140px;width:92px;}
div#movieHeader {margin: 0 0 20px;}
div#movieHeader div.wrap {position: relative;margin:20px 10px 0;background: url(../images/icons/sliderBg.jpg) repeat left top;}
div#movieHeader div#slide-holder {/*z-index: 40;*/width: 880px;height: 345px;position: relative;border: 2px solid #9999;  
    -moz-box-shadow: 1px 1px 4px #000000;
    -webkit-box-shadow: 1px 1px 4px #000000;
    box-shadow: 1px 1px 4px #000000;
    -webkit-border-radius:6px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -khtml-border-radius:6px;
}
div#movieHeader div#slide-holder div.slide-runner {top: 0px;left: 0px;width: 880px;height: 345px;overflow: hidden;position: relative;}
.slide-runner img{top:35px;}
div#movieHeader div#slide-holder img {margin: 0;display: none;position: absolute;border:0px;}
div#movieHeader div#slide-holder div#slide-controls {left: 0;bottom: 310px;width: 880px;height: 35px;display: none;position: absolute;}
div#movieHeader div#slide-holder div#slide-controls p.text {float: left;display: inline;font-size: 10px;line-height: 16px;margin: 10px 0 0 20px;text-transform: uppercase;}
div#movieHeader div#slide-holder div.slide-runner {border-top: 1px solid #000000;border-left: 1px solid #000000;border-right: 1px solid #494949;border-bottom: 1px solid #494949;}
div#movieHeader div#slide-holder div#slide-controls {background: url(../images/icons/slide-bg.png) 0 0;}
div#movieHeader div#slide-holder div#slide-controls p.text {color: #fff;}
div#movieHeader div#slide-holder div#slide-controls {background: url("../images/icons/slide-bg.png") repeat scroll 0 0 transparent;}
.linksLeft{width:150px;}
.movieLike{width:400px;margin-top:2px;}
/* MOVIE SLIDER */
/* HOMEPAGE SLIDER */
div#galleryHeader {margin: 0;}
#slide-holder img{-moz-box-shadow:1px 1px 4px #000;-webkit-box-shadow:1px 1px 4px #000;box-shadow:1px 1px 4px #000;}
div#galleryHeader div.wrap {position: relative;margin:20px 10px 0;background: url(../images/icons/sliderBg.jpg) repeat left top;}
div#galleryHeader div#slide-holder {z-index: 40;width: 880px;height: 385px;position: relative;border: 2px solid #9999;  
    -moz-box-shadow: 1px 1px 4px #000000;
    -webkit-box-shadow: 1px 1px 4px #000000;
    box-shadow: 1px 1px 4px #000000;
    -webkit-border-radius:6px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -khtml-border-radius:6px;
}
div#galleryHeader div#slide-holder div#slide-runner {top: 0px;left: 0px;width: 880px;height: 385px;overflow: hidden;position: relative;}
#slide-runner img{top:35px;}
div#galleryHeader div#slide-holder img {margin: 0;display: none;position: absolute;border:0px;}
div#galleryHeader div#slide-holder div#slide-controls {left: 0;bottom: 350px;width: 880px;height: 35px;display: none;position: absolute;}
div#galleryHeader div#slide-holder div#slide-controls p.text {float: left;display: inline;font-size: 10px;line-height: 16px;margin: 10px 0 0 20px;text-transform: uppercase;}
#slide-nav {margin: 0;position: relative;background: url("../images/icons/slide-bg.png") repeat scroll 0 0 transparent;height:35px;width:804px;margin:0 auto;}
#slide-nav a {
    float: left;
    display: block;
    font-size: 11px;
    margin: 0;
    width:134px;
    line-height: 24px;
    font-weight: bold;
    text-decoration: none;
    background-position: 0 0;
    background-repeat: no-repeat;
    text-align: center;
}
#slide-nav a h3 {font-size:1.3em;margin-top: -8px;text-align:center;}
#slide-nav a img {position: static !important;display: block !important;}
#slide-nav a.on {background-position: 0 -24px;}
#slide-nav a {color: #fff;}
div#galleryHeader div#slide-holder div#slide-runner {border-top: 1px solid #000000;border-left: 1px solid #000000;border-right: 1px solid #494949;border-bottom: 1px solid #494949;}
div#galleryHeader div#slide-holder div#slide-controls {background: url(../images/icons/slide-bg.png) 0 0;}
div#galleryHeader div#slide-holder div#slide-controls p.text {color: #fff;}
#slide-nav a.on h3 span, #slide-nav a.on:hover h3 span {color: #fba407;/*color:#15ADFF;*/}
#slide-nav a:hover h3 span {color: #fba407;/*color:#15ADFF*/}
div#galleryHeader div#slide-holder div#slide-controls {background: url("../images/icons/slide-bg.png") repeat scroll 0 0 transparent;}
/* HOMEPAGE SLIDER */
/* FOOTER */
#footerWrapper{width:900px;margin:0 auto;height:auto;}
#big-footer ul{list-style-type: none;}
#big-footer .subfooter{padding:10px 10px 0;border: 1px solid #444444;color: #DDDDDD;
    -moz-box-shadow: 1px 1px 4px #000000;
    -webkit-box-shadow: 1px 1px 4px #000000;
    box-shadow: 1px 1px 4px #000000;
}
#big-footer .signature {text-align:right;padding:10px 10px 0;color: #DDDDDD}
#big-footer  #contactInfo{width:180px;}
#big-footer #shareThisContainer .header{margin-right:5px}
#big-footer #shareThisContainer .left{color:#DDDDDD}
#big-footer .socialContainer{background:#111111;border: 1px solid #393939;color: #666666;margin:10px;
    -moz-box-shadow: 0 0 2px #000000 inset;
    -webkit-box-shadow: 0 0 2px #000000 inset;
    box-shadow: 0 0 2px #000000 inset;
}
#big-footer {width:880px;padding:10px;border: 1px solid #444444;margin:30px 0 10px 0;background-color: #333333;
    -moz-box-shadow: 1px 1px 4px #000000;
    -webkit-box-shadow: 1px 1px 4px #000000;
    box-shadow: 1px 1px 4px #000000;
    -webkit-border-radius:6px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -khtml-border-radius:6px;
}
#big-footer .socialColumn li{list-style:none;padding: 10px 0;font-size:1em;color: #999999;
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
word-wrap: break-word;      /* IE 5+ */}
#big-footer .socialColumn .postTime{font-size:0.9em;color: #DDDDDD}
#big-footer h4{padding:5px 0 ;border-bottom: 1px dashed #5A5A5A;text-align:center;}
#big-footer a.button {
    background-attachment: scroll;
    background-color: rgba(0, 0, 0, 0.3);
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    color: #999999 !important;
    display: inline-block;
    font-size: 10px;
    padding: 1px 0;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius:10px 10px 10px 10px;;
    -moz-border-radius:10px 10px 10px 10px;
    -khtml-border-radius:10px 10px 10px 10px;
}
#big-footer a.button:hover{color:#ffffff !important;}
#big-footer .iconsSprite {margin-top:3px;opacity:0.5;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);}
#big-footer .contactInfo{padding:10px;}
#big-footer .postContainer{padding:0 0 0 23px;}
#big-footer .col-option4 {padding:5px;}
#big-footer .col-option1 .footer-column {margin-bottom: 30px;width: 900px;}
#big-footer .col-option2 .footer-column {float: left;margin: 0 15px 30px;width: 450px;}
#big-footer .col-option3 .footer-column {float: left;margin: 0 13px 30px;width: 260px;}
#big-footer .col-option4 .footer-column, .col-option4-3 .footer-column, .col-option43- .footer-column {float: left;margin: 0 10px 10px;width: 192px;}
#big-footer .col-option5 .footer-column, .col-option5-4 .footer-column, .col-option54- .footer-column {float: left;margin: 0 15px 30px;width: 162px;}
#big-footer .social-icons li {display: inline;}
#big-footer .social-icons li img {border:0px;}
#big-footer  .contact-widget .iconsSprite {margin-top:0px;opacity:0.5;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);}
#big-footer .contact-widget .contantContainer{padding:0 0 0 26px;height:20px;}
/* FOOTER */
/* BUTTON */
.bt_register,.waveButtonMain,.waveButtonMain2,.bt_login,.bt_contact{padding:4px;background: url("../images/icons/button_bg.jpg") repeat-x scroll center bottom #666666;border: 1px solid #444444;color: #CCCCCC;cursor:pointer;font-weight:bold;font-size:1em;margin:10px 0;
-moz-box-shadow: 1px 1px 4px #000000;
-webkit-box-shadow: 1px 1px 4px #000000;
box-shadow: 1px 1px 4px #000000;
}
.waveButtonMain{display:block;margin:5px 20px;}
.waveButtonMain2{margin: 0 6px 0 20px;}
/* BUTTON */
/*FILE UPLOAD*/
.qq-uploader { position:relative; width: 100%;}
.qq-upload-button {padding:3px 2px;background: url("../images/icons/button_bg.jpg") repeat-x scroll center bottom #666666;border: 1px solid #444444;color: #CCCCCC;cursor:pointer !important;font-weight:bold;font-size:1em;margin:10px auto 0;width:140px;text-align:center;
-moz-box-shadow: 1px 1px 4px #000000;
-webkit-box-shadow: 1px 1px 4px #000000;
box-shadow: 1px 1px 4px #000000;
}
.qq-upload-button-hover {cursor:pointer;}
.qq-upload-button-focus {outline:1px dotted black;cursor:pointer;}
.qq-view a{text-decoration:underline !important;}
.qq-upload-drop-area {position:absolute; top:0; left:0; width:100%; height:100%;z-index:2;text-align:center;background-color: #333333;border: 1px solid #444444;color: #DDDDDD;
    -moz-box-shadow: 1px 1px 4px #000000;
    -webkit-box-shadow: 1px 1px 4px #000000;
    box-shadow: 1px 1px 4px #000000;
}
.qq-upload-drop-area span {display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:1.2em;}
.qq-upload-drop-area-active {background:#111111;}
.qq-upload-list {margin:5px 15px 0px 15px; padding:0; list-style:disc;}
.qq-upload-list li { margin:0; padding:0; line-height:15px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {margin-right: 7px;}
.qq-upload-file {}
.qq-upload-spinner {display:inline-block; background: url("../img/loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {}
.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}
/*FILE UPLOAD*/
/* SUGGESTION */
ul.suggestions{ list-style:none;margin:10px 0 0 0;}
.suggestions li{
    background-color:#252524;
    padding:10px;
    margin-bottom:10px;
    position:relative;
    font-size:18px;
    width:537px;
    overflow-x:hidden;
    word-wrap:break-word;
}
#suggest{background-color:#252524;padding:30px;margin:0px 0 0;}
.rounded,#suggest,.suggestions li{
    -moz-border-radius-topleft:12px;
    -moz-border-radius-bottomright:12px;
    -webkit-border-top-left-radius:12px;
    -webkit-border-bottom-right-radius:12px;
    border-top-left-radius:12px;
    border-bottom-right-radius:12px;
}
#suggestionText{background-color:#F0F0F0;border:1px solid #333333;color:#888;display:block;float:left;font-family:Corbel,'Myriad Pro',Arial,Helvetica,sans-serif;font-size:18px;margin-right:20px;padding:4px 0 4px 14px;text-shadow:1px 1px 0 white;width:365px;outline:none;}
#submitSuggestion{width:95px;height:31px;background:url('../images/sprites/submit_button.png') no-repeat;text-transform:uppercase;text-indent:-9999px;overflow:hidden;border:none;cursor:pointer;display:block;margin:0 auto;}
#submitSuggestion:hover{background-position:left -31px;}
form.working #submitSuggestion{background-position:left bottom;}
.suggestions .text{line-height:1.4;padding:0 70px;}
.suggestions .rating{bottom:12px;color:#939393;font-family:Arial,Helvetica,sans-serif;font-size:18px;position:absolute;right:15px;}
.vote{float:left;}
.vote span{background:url('../images/sprites/vote_arrows.png') no-repeat;float:left;height:26px;margin-right:4px;width:26px;cursor:pointer;}
.vote.inactive span{opacity:0.5;filter: alpha(opacity = 50);cursor:default;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);}
.vote .down {background-position:right top;}
.vote.active .up:hover{background-position:left bottom;}
.vote.active .down:hover    {background-position:right bottom;}
/* SUGGESTION */
/* CONTACT FORM */
#featureSuggestContainer{width:580px;}
#featureSuggestContainer h3,#contactFormContainer h3{font-size:1.1em;}
#contactFormContainer  {width:225px;}
#contactFormContainer label {float: left;clear: both;width: 65px;display: block;font-size:0.95em;padding-top:5px;color: #CCCCCC;}
#contactFormContainer label.radio{width: 120px;}
#contactFormContainer input.field {border: 1px #1A1A1A solid;background: #414141;margin-top: 5px;width:191px;color: white;height: 13px;font-size:1em;padding:3px;line-height:1em;}
#contactFormContainer input.field.error,#contactFormContainer select.error,#contactFormContainer textarea.error{border-color: #CC3366 !important;border-style: dotted dotted dotted;border-width: 1px 1px 1px;}
#contactFormContainer textarea {border: 1px #1A1A1A solid;background: #414141;margin-top: 5px;width:191px;color: white;font-size:1em;padding:0;line-height:1em;padding:3px;}
#contactFormContainer select {border: 1px #1A1A1A solid;background: #414141;margin-top: 4px;width: 191px;color: white;height: 23px;font-size:0.95em;padding:3px 0 3px 0;}
#contactFormContainer input:focus.field,#contactFormContainer select:focus,#contactFormContainer textarea:focus {border-color: #565656 #4D4D4D #4D4D4D;border: 1px solid #4D4D4D;border-style: solid;border-width: 1px;}
/* CONTACT FORM */
/* EDITIABLE */
#updatePicContainer {width: 225px;}
#updateBasicInformation{width: 580px;}
#updateBasicInformation label {float: left;clear: both;width: 140px;display: block;font-size:0.95em;margin:4px 0;color: #CCCCCC;}
#changePassword{width: 345px;}
#changePassword .password-meter {padding-right:6px;}
#passwordResetForm  {}
#passwordResetForm label {float: left;clear: both;width: 140px;display: block;font-size:0.95em;padding-top:5px;color: #CCCCCC;}
#passwordResetForm input.field {border: 1px #1A1A1A solid;background: #414141;margin-top: 5px;width:191px;color: white;height: 13px;font-size:1em;padding:3px;line-height:1em;}
#passwordResetForm input.field.error,#passwordResetForm select.error,#passwordResetForm textarea.error{border-color: #CC3366 !important;border-style: dotted dotted dotted;border-width: 1px 1px 1px;}
#passwordResetForm textarea {border: 1px #1A1A1A solid;background: #414141;margin-top: 5px;width:191px;color: white;font-size:1em;padding:0;line-height:1em;padding:3px;}
#passwordResetForm select {border: 1px #1A1A1A solid;background: #414141;margin-top: 4px;width: 191px;color: white;height: 23px;font-size:0.95em;padding:3px 0 3px 0;}
#passwordResetForm input:focus.field,#passwordResetForm select:focus,#passwordResetForm textarea:focus {border-color: #565656 #4D4D4D #4D4D4D;border: 1px solid #4D4D4D;border-style: solid;border-width: 1px;}
.editableText:hover {outline: 1px dashed grey;}
.editableToolbar:hover + * {outline: 1px dashed grey;}
.editableToolbar {}
.editableToolbar a{display: block;width: 17px;height: 15px;float: left;margin: 2px;}
/* EDITIABLE */
/* COMMENT */
#wave{
    /* CSS rounded corners */
    width: 845px;
    margin: 20px 27.5px 0;
    background-color: #333333;
    overflow:hidden;
    -moz-box-shadow: 1px 1px 4px #000000;
    -webkit-box-shadow: 1px 1px 4px #000000;
    box-shadow: 1px 1px 4px #000000;
    -webkit-border-radius:6px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -khtml-border-radius:6px;
}
#topBar{font-size:12px;color:white;overflow:hidden;padding:5px 0 0 10px;
    -webkit-border-radius:6px 6px 0 0;
    border-radius:6px 6px 0 0;
    -moz-border-radius:6px 6px 0 0;
    -khtml-border-radius:6px 6px 0 0;
}
#bottomBar{height:10px;-moz-border-radius:0 0 6px 6px;background-color: #333333;}
.textArea{padding:4px;font-family:Arial,Helvetica,Sans-serif;font-size:12px;color:#666666;border:1px solid #66aff9;margin-bottom:10px;}
.commentOptionLink{float:right;}
#commentArea{padding:10px;color:#444444;}
.commentText{margin-left:40px;margin-right: 110px;}
.waveComment .waveComment{padding-left:30px;}
.waveComment .waveComment .commentOptionLink{}
.waveTime{color:#DDDDDD;float:right;font-size:0.9em;}
#slider{width:400px;font-size:10px;float:right;margin-right:10px;}
#sliderContainer{padding:9px 10px;border: 1px solid #444444;height:10px;padding:9px 10px;
    -moz-box-shadow: 0.2em 0.2em 0.5em #000000;
    -webkit-box-shadow: 0.2em 0.2em 0.5em #000000;
    box-shadow: 0.2em 0.2em 0.5em #000000;
}
div.ui-widget-content{background:#FFFFFF;border:1px solid #CCCCCC;}
.comment{margin:5px 10px;padding:8px 10px;border:2px solid #cccccc;color: #999999;border: 1px solid #444444;overflow:hidden;
    -moz-box-shadow: 0.2em 0.2em 0.5em #000000;
    -webkit-box-shadow: 0.2em 0.2em 0.5em #000000;
    box-shadow: 0.2em 0.2em 0.5em #000000;
    -webkit-border-radius:6px;
    border-radius: 6px;
    -moz-border-radius:6px;
    -khtml-border-radius:6px;
}
span.name{font-weight:bold;color:#DDDDDD;}
.commentAvatar{width:50px;height:auto;float:left;margin-right:10px;}
.waveComment a,.waveComment a:visited{text-transform:uppercase;font-size:0.9em;}
.loginToComment{ color: #0390C3;font-size: 1em;text-transform: uppercase;margin:0 0 0 20px;}
/* COMMENT */
/* STRONG PASSWORD */
.password-meter {position:relative;width: 180px;}
.password-meter-message {text-align: right;font-weight: bold;color: #CCCCCC;font-size:0.9em;}
.password-meter-bg, .password-meter-bar {height: 4px;}
.password-meter-bg {top: 8px;background: #676767;}
.password-meter-message-very-weak {color: #aa0033;}
.password-meter-message-weak {color: #f5ac00;}
.password-meter-message-good {color: #6699cc;}
.password-meter-message-strong {color: #008000;}
.password-meter-bg .password-meter-very-weak {background: #aa0033;width: 30px;}
.password-meter-bg .password-meter-weak {background: #f5ac00;width: 60px;}
.password-meter-bg .password-meter-good {background: #6699cc;width: 135px;}
.password-meter-bg .password-meter-strong {background: #008000;width: 180px;}
/* STRONG PASSWORD */
/* ABOUT */
.sponsorListHolder{}
.sponsor{width:272px;height:290px;float:left;margin:0 6px 12px;position:relative;cursor:pointer;background-color: #333333;border: 1px solid #444444;
    -moz-box-shadow: 0.2em 0.2em 0.5em #000000;
    -webkit-box-shadow: 0.2em 0.2em 0.5em #000000;
    box-shadow: 0.2em 0.2em 0.5em #000000;
}
.sponsor h3{text-transform:uppercase;text-align:center;padding:4px;}
.sponsorFlip{position:absolute;left:0;top:0;width:250px;height:250px;margin:26px 9px 9px 9px;border: 1px solid #444444;color: #999999;
    -moz-box-shadow: 0.2em 0.2em 0.5em #000000 inset;
    -webkit-box-shadow: 0.2em 0.2em 0.5em #000000 inset;
    box-shadow: 0.2em 0.2em 0.5em #000000 inset;
    -webkit-border-radius:4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -khtml-border-radius:4px 4px 4px 4px;
}
.sponsorFlip:hover{
    border:1px solid #999;
    -moz-box-shadow:0 0 30px #111 inset;
    -webkit-box-shadow:0 0 30px #111 inset;
    box-shadow:0 0 30px #111 inset;
}
.sponsorFlip img{margin:10px;}
.sponsorData{display:none;}
.sponsorDescription{font-size:1em;padding:15px}
.sponsorDescription ul{font-size:1em;padding:0 0 0 17px;}
/* ABOUT */
/* COMPATIBLITY */
#compatiblity{color:#DDDDDD;}
/* COMPATILBITY */  
/* 404 */
#rocket{width:275px;height:375px;background:url('../images/404/rocket.png') no-repeat;margin:0 auto;position:relative;}
.steam1,.steam2{position:absolute;bottom:78px;left:50px;width:80px;height:80px;background:url('../images/404/steam.png') no-repeat;opacity:0.8}
.steam2{background-position:left bottom;}
#notFound{text-align:center;padding: 10px 20px 30px;width: 778px;}
/* 404 */
/* TUTORIAL */
#tutorialContainer{width:820px;color:#DDDDDD;}
#tutorialContainer .treeContainer{width:405px;}
#tutorialContainer .treeContainer2{margin:0 0 0 10px;}
#tutorialContainer h3{padding:0 0 10px 12px;color: #DAA58B;text-shadow:none;}
#tutorialContainer p{padding:0 0 0 14px;}
#tutorialContainer ol{padding:0 0 0 34px;}
#treeMenu {width:820px;}
#treeMenu ul { list-style:none;}
#treeMenu ul li {overflow:hidden;border: 1px solid #444444;border-radius: 6px 6px 6px 6px;box-shadow: 0.2em 0.2em 0.5em #000000;margin:5px 0;}
#treeMenu ul li span{display:inline-block; float:right; width:30px; height:30px;cursor:pointer;}
#treeMenu ul li a {font-size:12px; margin:5px 10px;display:inline-block;text-decoration:none;float:left;}
#treeMenu ul li span.opened { background-position:100% -61px;}
#treeMenu ul li div { clear:both; height:auto; }
#treeMenu ul li li { border-radius: 6px 6px 6px 6px;box-shadow: 0.2em 0.2em 0.5em #000000;margin:0 5px 5px 25px;clear:both;}
#treeMenu ul li li a {font-size:10px; padding:5px 0; float:left;  width:auto; }
#treeMenu ul li li a:hover { text-decoration:underline;}
#treeMenu ul li li span { float:left; display:inline; width:15px; height:20px;  background-position:-10px -263px; cursor:default; }
#treeMenu ul li li span.closed { background-position:-10px -131px; cursor:pointer;}
#treeMenu ul li li span.closed.opened { background-position:-7px -197px; }
#treeMenu ul li li li { border:0;}
#tutorialContainer table{border: 1px solid #6495ed; margin: 6px 20px; text-align: left; width: 95%;}
#tutorialContainer table th{background-color: #6495ed;}
.syntaxhighlighter a,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter table,
.syntaxhighlighter table td,
.syntaxhighlighter table tr,
.syntaxhighlighter table tbody,
.syntaxhighlighter table thead,
.syntaxhighlighter table caption,
.syntaxhighlighter textarea {
  -moz-border-radius: 0 0 0 0 !important;
  -webkit-border-radius: 0 0 0 0 !important;
  background: none !important;
  border: 0 !important;
  bottom: auto !important;
  float: none !important;
  height: auto !important;
  left: auto !important;
  line-height: 1.1em !important;
  margin: 0 !important;
  outline: 0 !important;
  overflow: visible !important;
  padding: 0 !important;
  position: static !important;
  right: auto !important;
  text-align: left !important;
  top: auto !important;
  vertical-align: baseline !important;
  width: auto !important;
  box-sizing: content-box !important;
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-size: 1em !important;
  min-height: inherit !important;
  min-height: auto !important;
}
.syntaxhighlighter {
  width: 95% !important;
  margin: 0.5em 2em 1em 2em !important;
  position: relative !important;
  overflow: auto !important;
  font-size: 1em !important;
}
.syntaxhighlighter.source {
  overflow: hidden !important;
}
.syntaxhighlighter .bold {
  font-weight: bold !important;
}
.syntaxhighlighter .italic {
  font-style: italic !important;
}
.syntaxhighlighter .line {
  white-space: pre !important;
}
.syntaxhighlighter table {
  width: 100% !important;
}
.syntaxhighlighter table caption {
  text-align: left !important;
  padding: .5em 0 0.5em 1em !important;
}
.syntaxhighlighter table td.code {
  width: 100% !important;
}
.syntaxhighlighter table td.code .container {
  position: relative !important;
}
.syntaxhighlighter table td.code .container textarea {
  box-sizing: border-box !important;
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  border: none !important;
  background: white !important;
  padding-left: 1em !important;
  overflow: hidden !important;
  white-space: pre !important;
}
.syntaxhighlighter table td.gutter .line {
  text-align: right !important;
  padding: 0 0.5em 0 1em !important;
}
.syntaxhighlighter table td.code .line {
  padding: 0 1em !important;
}
.syntaxhighlighter.nogutter td.code .container textarea, .syntaxhighlighter.nogutter td.code .line {
  padding-left: 0em !important;
}
.syntaxhighlighter.show {
  display: block !important;
}
.syntaxhighlighter.collapsed table {
  display: none !important;
}
.syntaxhighlighter.collapsed .toolbar {
  padding: 0.1em 0.8em 0em 0.8em !important;
  font-size: 1em !important;
  position: static !important;
  width: auto !important;
  height: auto !important;
}
.syntaxhighlighter.collapsed .toolbar span {
  display: inline !important;
  margin-right: 1em !important;
}
.syntaxhighlighter.collapsed .toolbar span a {
  padding: 0 !important;
  display: none !important;
}
.syntaxhighlighter.collapsed .toolbar span a.expandSource {
  display: inline !important;
}
.syntaxhighlighter .toolbar {
  position: absolute !important;
  right: 1px !important;
  top: 1px !important;
  width: 11px !important;
  height: 11px !important;
  font-size: 10px !important;
  z-index: 10 !important;
}
.syntaxhighlighter .toolbar span.title {
  display: inline !important;
}
.syntaxhighlighter .toolbar a {
  display: block !important;
  text-align: center !important;
  text-decoration: none !important;
  padding-top: 1px !important;
}
.syntaxhighlighter .toolbar a.expandSource {
  display: none !important;
}
.syntaxhighlighter.ie {
  font-size: .9em !important;
  padding: 1px 0 1px 0 !important;
}
.syntaxhighlighter.ie .toolbar {
  line-height: 8px !important;
}
.syntaxhighlighter.ie .toolbar a {
  padding-top: 0px !important;
}
.syntaxhighlighter.printing .line.alt1 .content,
.syntaxhighlighter.printing .line.alt2 .content,
.syntaxhighlighter.printing .line.highlighted .number,
.syntaxhighlighter.printing .line.highlighted.alt1 .content,
.syntaxhighlighter.printing .line.highlighted.alt2 .content {
  background: none !important;
}
.syntaxhighlighter.printing .line .number {
  color: #bbbbbb !important;
}
.syntaxhighlighter.printing .line .content {
  color: black !important;
}
.syntaxhighlighter.printing .toolbar {
  display: none !important;
}
.syntaxhighlighter.printing a {
  text-decoration: none !important;
}
.syntaxhighlighter.printing .plain, .syntaxhighlighter.printing .plain a {
  color: black !important;
}
.syntaxhighlighter.printing .comments, .syntaxhighlighter.printing .comments a {
  color: #008200 !important;
}
.syntaxhighlighter.printing .string, .syntaxhighlighter.printing .string a {
  color: blue !important;
}
.syntaxhighlighter.printing .keyword {
  color: #006699 !important;
  font-weight: bold !important;
}
.syntaxhighlighter.printing .preprocessor {
  color: gray !important;
}
.syntaxhighlighter.printing .variable {
  color: #aa7700 !important;
}
.syntaxhighlighter.printing .value {
  color: #009900 !important;
}
.syntaxhighlighter.printing .functions {
  color: #ff1493 !important;
}
.syntaxhighlighter.printing .constants {
  color: #0066cc !important;
}
.syntaxhighlighter.printing .script {
  font-weight: bold !important;
}
.syntaxhighlighter.printing .color1, .syntaxhighlighter.printing .color1 a {
  color: gray !important;
}
.syntaxhighlighter.printing .color2, .syntaxhighlighter.printing .color2 a {
  color: #ff1493 !important;
}
.syntaxhighlighter.printing .color3, .syntaxhighlighter.printing .color3 a {
  color: red !important;
}
.syntaxhighlighter.printing .break, .syntaxhighlighter.printing .break a {
  color: black !important;
}
.syntaxhighlighter {
  background-color: #121212 !important;
}
.syntaxhighlighter .line.alt1 {
  background-color: #121212 !important;
}
.syntaxhighlighter .line.alt2 {
  background-color: #121212 !important;
}
.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
  background-color: #2c2c29 !important;
}
.syntaxhighlighter .line.highlighted.number {
  color: white !important;
}
.syntaxhighlighter table caption {
  color: white !important;
}
.syntaxhighlighter .gutter {
  color: #afafaf !important;
}
.syntaxhighlighter .gutter .line {
  border-right: 3px solid #3185b9 !important;
}
.syntaxhighlighter .gutter .line.highlighted {
  background-color: #3185b9 !important;
  color: #121212 !important;
}
.syntaxhighlighter.printing .line .content {
  border: none !important;
}
.syntaxhighlighter.collapsed {
  overflow: visible !important;
}
.syntaxhighlighter.collapsed .toolbar {
  color: #3185b9 !important;
  background: black !important;
  border: 1px solid #3185b9 !important;
}
.syntaxhighlighter.collapsed .toolbar a {
  color: #3185b9 !important;
}
.syntaxhighlighter.collapsed .toolbar a:hover {
  color: #d01d33 !important;
}
.syntaxhighlighter .toolbar {
  color: white !important;
  background: #3185b9 !important;
  border: none !important;
}
.syntaxhighlighter .toolbar a {
  color: white !important;
}
.syntaxhighlighter .toolbar a:hover {
  color: #96daff !important;
}
.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
  color: white !important;
}
.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
  color: #696854 !important;
}
.syntaxhighlighter .string, .syntaxhighlighter .string a {
  color: #e3e658 !important;
}
.syntaxhighlighter .keyword {
  color: #d01d33 !important;
}
.syntaxhighlighter .preprocessor {
  color: #435a5f !important;
}
.syntaxhighlighter .variable {
  color: #898989 !important;
}
.syntaxhighlighter .value {
  color: #009900 !important;
}
.syntaxhighlighter .functions {
  color: #aaaaaa !important;
}
.syntaxhighlighter .constants {
  color: #96daff !important;
}
.syntaxhighlighter .script {
  font-weight: bold !important;
  color: #d01d33 !important;
  background-color: none !important;
}
.syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
  color: #ffc074 !important;
}
.syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
  color: #4a8cdb !important;
}
.syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
  color: #96daff !important;
}
.syntaxhighlighter .functions {
  font-weight: bold !important;
}
/* TUTORIAL */
/* SITE MAP */
#sitemapContainer .siteCommonInnterContainer{padding: 10px 30px 30px;width: 778px;}
#sitemapContainer ul ul{margin:0 0 0 20px;}
/* SITE MAP */
/* HACKS */
#hacksContainer .siteCommonInnterContainer{padding: 10px 30px 10px;width: 778px;}
#hacksContainer ul ul{margin:0 0 0 20px;}
/* HACKS */
/* SEARCH */
.search{background:#333333;color: #999999;border: 1px solid #111111;padding: 5px 10px;margin:0 5px 0 0;
    -moz-box-shadow: 1px 1px 4px #000000;
    -webkit-box-shadow: 1px 1px 4px #000000;
    box-shadow: 1px 1px 4px #000000;
    -webkit-border-radius:6px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -khtml-border-radius:6px;
}
.search label{margin:0 10px 0 0;}
.search .ui-autocomplete-loading { background: #414141 url('../images/search/ajax-loader.gif') right center no-repeat; }
.search input{background: none repeat scroll 0 0 #414141;border: 1px solid #1A1A1A;color: white;font-size: 0.9em !important;height: 13px;line-height: 1em;margin-top: 5px;padding: 3px 5px;width: 20em;}
/* SEARCH */