.event{
	/* Contains the event header and body list */
	float:left;
	text-align:left;
	width:101px;
	margin:0 5px 5px;
    background-color: #333333;
    border: 1px solid #444444;
    cursor: pointer;
    padding: 5px;
    text-align: center;
	-moz-box-shadow: 1px 1px 4px #000000;
	-webkit-box-shadow: 1px 1px 4px #000000;
    box-shadow: 1px 1px 4px #000000;
}
.eventList li{
	/* The individual events */
    border: 1px solid #444444;
    color: #999999;
    display: block;
    line-height: 20px;
    margin-top: 10px;
    overflow: hidden;
    text-align: left;
	list-style:none;
	padding:7px 10px;
	/* CSS3 rounded corners */
	-moz-box-shadow: 1px 1px 4px #000000 inset;
	-webkit-box-shadow: 1px 1px 4px #000000 inset;
    box-shadow:1px 1px 4px #000000 inset;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}
.eventList li:hover{
	/* The hover state: */
	cursor:pointer;
	background:#E6F8FF;
	border:1px solid #D4E6EE;
	color:#548DA5;
}
.eventList li span{
	/* The event icon */
	display:block;
	float:left;
	height:16px;
	margin-right:5px;
	width:16px;
}
/* Individual background images for each type of event: */
div.content{display:none;}
.eventHeading{
	/* The colorful year headings at the top */
	margin:-5px -5px 10px;
	padding:2px 5px;
	text-align:center;
    background-color: #333333;
    border: 1px solid #444444;
	color: #DDDDDD;
    font-weight: normal;
    text-align: center;
	font-size: 1em;
    text-shadow: 0 0 1px #FFFFFF;
	-moz-box-shadow: 1px 1px 4px #000000;
	-webkit-box-shadow: 1px 1px 4px #00000;
    box-shadow:1px 1px 4px #000000;
}
#timelineScroll{margin:0 0 20px 0;}
#timelineLimiter{
	/* Hides the overflowing timeline */
	overflow:hidden;
}
#scroll{
	/* The small timeline below the main one. Hidden here and shown by jQuery if JS is enabled: */
	display:none;
	height:30px;
	border:1px solid #EEEEEE;
	color:#999999;
}
.scrollPoints{
	/* The individual years */
	float:left;
	font-size:1em;
	padding:4px 5px;
	text-align:center;
	width:40px;
	position:relative;
	z-index:10;
}
#centered{
	/* Centers the years, width is assigned by jQuery */
	margin:0 auto;
	position:relative;
}
#slider1{
	/* Holds the scroll bar */
	margin:10px auto;
	height:25px;
	display:none;
    background-color: #333333;
    border: 1px solid #444444;
    color: #DDDDDD;
	-moz-box-shadow: 1px 1px 4px #000000;
	-webkit-box-shadow: 1px 1px 4px #000000;
    box-shadow: 1px 1px 4px #000000;
}
#bar{
	/* The scroll bar */
	background:url(../images/icons/slider_center.png) repeat-x center center;
	height:25px;
	cursor:pointer;
	top:0px !important;
}
#barLeft{
	background:transparent url(../images/icons/slider.png) no-repeat scroll left center;
	height:25px;
	width:20px;
	left:0;
	top:0;
	position:absolute;
}
#barRight{
	background:transparent url(../images/icons/slider.png) no-repeat scroll right center;
	height:25px;
	position:absolute;
	right:0;
	top:0;
	width:20px;
}
#overlay{
	/* The overlay that darkens the page when an event is clicked */
	position:absolute;
	z-index:10;
	top:0;
	left:0;
	background-color:#222222;
}
#windowBox{
	/* Shows details about the event on click */
	position:absolute;
	z-index:999;
	padding:10px;
	overflow:auto;
	color: #000000;
    font-size: 1em;
    font-weight: normal;
	background:#E6F8FF;
	/*background-color:#fcfcfc;
	background-color: #333333;
	*/
	background-color:#333333;
	 background: #E6F8FF;
    border: 1px solid #444444;
	-moz-box-shadow: 1px 1px 4px #000000;
	-webkit-box-shadow: 1px 1px 4px #000000;
    box-shadow: 1px 1px 4px #000000;
}
#windowBox img{padding:5px 0 0 0;}
#body{padding:0 10px;}
#titleDiv{
	/* The title of the windowBox */
	margin-bottom:10px;
	padding:5px 10px;
    background-color: #333333;
    border: 1px solid #444444;
	color: #DDDDDD;
    font-size: 1.2em;
    font-weight: normal;
    text-shadow: 0 0 1px #FFFFFF;
	-moz-box-shadow: 1px 1px 4px #000000;
	-webkit-box-shadow: 1px 1px 4px #000000;
    box-shadow: 1px 1px 4px #000000;
}
#date{
	/* The date on the bottom of the windowBox */
	bottom:20px;
	color:#999999;
	font-style:italic;
	position:absolute;
	right:15px;
	padding:2px;
    background-color: #333333;
    border: 1px solid #444444;
	color: #DDDDDD;
    font-size: 1em;
    text-shadow: 0 0 1px #FFFFFF;
	-moz-box-shadow: 1px 1px 4px #000000;
	-webkit-box-shadow: 1px 1px 4px #000000;
    box-shadow: 1px 1px 4px #000000;
}
#highlight{
	/* The blue highlight that moves with the scroll bar */
	height:30px;
	position:absolute;
	z-index:0;
	left:0;
	top:0;
    background-color: #333333;
    border: 1px solid #444444;
    color: #DDDDDD;
	-moz-box-shadow: 1px 1px 4px #000000;
	-webkit-box-shadow: 1px 1px 4px #000000;
    box-shadow: 1px 1px 4px #000000;
}