.iconsSprite{background: url(../../images/sprites/general.png) no-repeat top left}
.socialSprite{background: url(../../images/sprites/social.jpg) no-repeat top left}
.subfooter{padding:10px 10px 0;border: 1px solid #444444;color: #DDDDDD;
    -moz-box-shadow: 1px 1px 4px #000000;
    -webkit-box-shadow: 1px 1px 4px #000000;
    box-shadow: 1px 1px 4px #000000;
}
/* HEADER */
#header{border: 1px solid #444444;padding:0 10px 10px 10px;background-color: #333333;
    -moz-box-shadow: 1px 1px 4px #000000;
    -webkit-box-shadow: 1px 1px 4px #000000;
    box-shadow: 1px 1px 4px #000000;
    -webkit-border-radius:6px inset;
    border-radius: 0 0 0.5em 0.5em;
    -moz-border-radius: 0 0 0.5em 0.5em;
    -khtml-border-radius:0 0 0.5em 0.5em;
}
#wrapper{width:900px;margin:0 auto;height:auto;}
#mainContainer h2{padding:14px 0 0 12px;}
/* HEADER */
/* FOOTER */
#footerWrapper{width:900px;margin:0 auto;height:auto;}
#small-footer h3{border-bottom: 1px dashed #5A5A5A;padding: 5px 0;margin:0 0 5px 0;}
#small-footer h4{padding:5px 0 15px;}
#small-footer h4.warning{color:#15ADFF}
#small-footer .socialContainer{background:#111111;border: 1px solid #393939;color: #666666;margin:10px;
    -moz-box-shadow: 0 0 2px #000000 inset;
    -webkit-box-shadow: 0 0 2px #000000 inset;
    box-shadow: 0 0 2px #000000 inset;
}
#small-footer ul{margin:0 0 0 20px;}
#big-footer ul{list-style-type: none;}
#big-footer .signature {text-align:right;padding:10px 10px 0;color: #DDDDDD}
#big-footer  #contactInfo{width:180px;}
#big-footer #shareThisContainer .header{margin-right:5px}
#big-footer #shareThisContainer .left{color:#DDDDDD}
#big-footer,#small-footer{width:880px;padding:10px;border: 1px solid #444444;margin:30px 0 10px 0;background-color: #333333;
    -moz-box-shadow: 1px 1px 4px #000000;
    -webkit-box-shadow: 1px 1px 4px #000000;
    box-shadow: 1px 1px 4px #000000;
    -webkit-border-radius:6px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -khtml-border-radius:6px;
}
#big-footer .socialColumn li{list-style:none;padding: 10px 0;font-size:1em;color: #999999;
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */}
#big-footer .socialColumn .postTime{font-size:0.9em;color: #DDDDDD}
#big-footer h3{border: 1px solid #444444;box-shadow: 1px 1px 4px #000000;color: #DDDDDD;padding: 10px;}
#big-footer #facebookCommentContainer{margin:10px 0 ;}
#big-footer .fb-comments{margin:10px 0 5px;}
#big-footer a.button {
    background-attachment: scroll;
    background-color: rgba(0, 0, 0, 0.3);
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    color: #999999 !important;
    display: inline-block;
    font-size: 10px;
    padding: 1px 0;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius:10px 10px 10px 10px;;
    -moz-border-radius:10px 10px 10px 10px;
    -khtml-border-radius:10px 10px 10px 10px;
}
#big-footer a.button:hover{color:#ffffff !important;}
#big-footer  .iconsSprite {margin-top:3px;opacity:0.5;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);}
#big-footer .contactInfo{padding:10px;}
#big-footer .postContainer{padding:0 0 0 23px;}
#big-footer .col-option4 {padding:5px;}
#big-footer .col-option1 .footer-column {margin-bottom: 30px;width: 900px;}
#big-footer .col-option2 .footer-column {float: left;margin: 0 15px 30px;width: 450px;}
#big-footer .col-option3 .footer-column {float: left;margin: 0 20px 30px;width: 260px;}
#big-footer .col-option4 .footer-column, .col-option4-3 .footer-column, .col-option43- .footer-column {float: left;margin: 0 10px 10px;width: 192px;}
#big-footer .col-option5 .footer-column, .col-option5-4 .footer-column, .col-option54- .footer-column {float: left;margin: 0 15px 30px;width: 162px;}
#big-footer .social-icons li {display: inline;}
#big-footer .social-icons li img {border:0px;}
#big-footer  .contact-widget .iconsSprite {margin-top:0px;opacity:0.5;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);}
#big-footer .contact-widget .contantContainer{padding:0 0 0 26px;height:20px;}
/* FOOTER */